---
layout: default
title: Think Puro, A Creative Studio.
---

<div id="home">
  <div class="hero">
    <h1 class="hero">We are a creative studio born & raised in New York City.</h1>
    <span class="puro-smile-container">{% include puro-smile.html %}</span>
  </div>
  <div class="work-link"><h1 class="title">Selected Works ↧</h1></div>
  <div class="posts">
    {% for post in site.posts %}
      <a href="{{ post.url }}" class="work-item" style="background-image: url('img/{{ post.bgimg }}'); background-color: #{{ post.bgclr }};"">
        <div class="overlay"></div>
        <div class="work-item-description">
          <h1>{{ post.title }}</h1>
          <p>{{ post.description }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>