<div class="footer preload">
  <div class="footer-section">
    <p>Contact</p>
  </div>
  <div class="footer-section">
    <p>Phone <a href="tel:1-347-688-7876">347-688-PURO</a><br>Email <a href="mailto:hello@thinkpuro.com?subject=Let's%20Be%20Friends">hello@thinkpuro.com</a></p>
  </div>
  <div class="footer-section">
    <p><a href="http://www.jeffreyherrera.com">Check out Jeff's Work</a><br>Follow <a href="http://www.twitter.com/thinkpuro" target="_blank">Twitter</a> / <a href="http://www.instagram.com/thinkpuro" target="_blank">Instagram</a></p>
  </div>
  <div class="footer-section">&copy; All Rights Reserved<br>Think Puro 2016</div>
</div>