.about-hero
    background-color: #FFF
    margin-right: auto

.hero span
    font-weight: bold
    color: #666
    
.team-section
    display: flex
    justify-content: space-between
    .member
        width: calc(33.33% - 20px)
        p
            background-color: #222
            padding: 10px
            color: white
            margin: 0
            position: relative
            a
                padding: 5px 0
                &:hover
                    i
                        color: $purored
                i
                    color: #FFF
                    +ease

    @media screen and (max-width: 640px)
        display: block
        .member
            width: 100%
            margin-bottom: 20px
            +outer-container()
            p
                +span-columns(12)
                i
                    font-size: 25px
                    margin-left: 25px
                    position: relative
                    top: 10px
                    left: 20px
