.site-title
    width: 96px
    width: 6em
    max-width: 100%
    
nav
    position: absolute
    top: 50%
    margin-top: -40%
    font-family: "franklin-gothic-urw", sans-serif
    font-size: 14px
    a
        text-decoration: none
        display: block
        margin-bottom: 5px
        &:last-of-type
            margin-bottom: 0

        &:hover
            text-decoration: none

            &:before
                content: "↦ "

.active
    color: black
    &:before
        content: "↦ "