#home .hero
    font-size: 48px
    font-size: 6.3em
    line-height: 1.1em
    display: inline-block
    margin: 0
    letter-spacing: -0.06em
    margin-top: 15px
    margin-bottom: 50px
    padding: 0
    text-align: left
    font-size: calc(3vw + 3vh + 1.5vmin)
    @media screen and (max-width: 640px)
        font-size: calc(2vw + 2vh + 1vmin)
        margin-bottom: 10px

.work-link
    text-decoration: none

.work-item
    display: block
    width: auto
    height: 275px
    // background-color: $purored
    padding: 20px
    position: relative
    margin-bottom: 20px
    background-size: contain
    background-position: center right
    background-repeat: no-repeat
    text-decoration: none
    position: relative
    cursor: pointer
    .overlay
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-color: #222
        opacity: 0
        +ease
    &:hover
        .overlay
            opacity: 1
    .work-item-description
        // position: absolute
        // bottom: 20px
        h1
            color: #FFF
            margin: 0
            font-family: "franklin-gothic-urw", sans-serif
            letter-spacing: 0.01em
            text-transform: uppercase
            mix-blend-mode: difference;
        p
            color: rgba(white,0.6)
            margin: 0
            mix-blend-mode: difference;