*
  box-sizing: border-box
  a
    cursor: pointer

html
  height: 100%

body
  background-color: $purogray
  font-size: 12px
  line-height: 1.6
  font-family: 'fira-mono', monospace
  color: #666
  padding: 3.5em
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  +clearfix()
  transition: all .5s ease-in-out
  min-height: 100%
  height: 100%
  img
    max-width: 100%

.work-body
  padding: 1.5em

.loader
  background-color: #EEE
  display: block
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  z-index: 2000
  transition: all .5s .5s ease-in-out
  pointer-events: none

.work-content
  background-color: #FFF
  opacity: 0
  transition: all .5s ease-in-out
  padding: 3.5em
  transform: translateX(60px)
  min-height: calc(100% - 1.5em)
  margin-bottom: 1.5em

.work-load
  opacity: 1 !important
  transform: translateX(0) !important

// Grid

.site
  min-height: calc(100% - 7em)
  height: calc(100% - 7em)
  display: flex
  flex-direction: column

.site-top
  min-height: 100%
  height: 100%
  width: 100%
  flex: 0 1 auto
  overflow-y: scroll

.site-content
  +span-columns(9)
  +shift(3)
  padding-bottom: 20px

.header
  min-height: 100%
  height: 100%
  +span-columns(3)
  position: fixed
  .mobile-nav-button
    padding: 5px
    background-color: #FFF
    width: 70px
    height: 70px
    border-radius: 50%
    position: absolute
    top: 10px
    right: 0
    z-index: 2
    cursor: pointer
    display: none
    +ease

    .button
      width: 25px
      height: 25px
      position: absolute
      top: 50%
      left: 50%
      transform: translateY(-50%)
      h1
        height: 2px
        width: 25px
        display: block
        background-color: $purored
        position: absolute
        transform: translate(-50%)
        +ease
        &:before
          content: ''
          height: 2px
          width: 25px
          display: block
          background-color: $purored
          position: absolute
          transform: rotate(0deg)
          top: -10px
          left: 0
        &:after
          content: ''
          height: 2px
          width: 25px
          display: block
          background-color: $purored
          position: absolute
          transform: rotate(0deg)
          top: 10px
          left: 0
  .mobile-nav-open
    background-color: $purored
    .button
      h1
        color: #FFF
        &:before
          content: ''
          height: 2px
          width: 25px
          display: block
          background-color: #FFF
          transform: rotate(45deg)
          position: absolute
          top: 0
          left: 0
        &:after
          content: ''
          height: 2px
          width: 25px
          display: block
          background-color: #FFF
          transform: rotate(-45deg)
          top: 0
          left: 0

  .mobile-nav
    background-color: #FFF
    position: fixed
    height: 100%
    width: 100%
    left: 0
    top: 0
    z-index: 1
    padding: 12em 3.5em 3.5em 3.5em
    opacity: 0
    pointer-events: none
    transition: opacity 500ms 500ms ease
    transition: transform 500ms 1s ease
    a
      transform: translateY(2em)
      display: block
      width: 100%
      padding-top: 1em
      font-size: 2em
      font-family: "franklin-gothic-urw", sans-serif
  .mobile-nav-active
    display: block
    opacity: 1
    pointer-events: auto
    a
      transform: translateY(0)

.content-section
  margin-top: 50px
  display: flex
  justify-content: space-between
  width: 100%
  p
    width: calc(33.33% - 20px)

.footer
  +outer-container()
  width: 100%
  padding-top: 20px
  bottom: 3.5em
  .footer-section
    +span-columns(3)
    border-top: solid .5px $gray
    padding-top: 10px
    padding-bottom: 20px
    p
      margin: 0

// Animations

.load
  opacity: 0 !important
  transition: all .5s ease-in-out !important

.unload
  opacity: 0 !important
  transform: translateX(60px) !important

  // Responsive - Small
@media screen and (max-width: 640px)
  body
    padding: 2em
    min-height: auto
    height: auto
    .site
      min-height: auto
      height: auto
      display: block
      overflow: auto
      .site-top
        min-height: auto
        height: auto
        display: block
        .site-content
          +span-columns(12)
          +shift(0)
          padding-bottom: 20px
          padding-top: 40px
        .header
          width: 100%
          // height: auto
          position: relative
          .mobile-nav-button
            display: block
            .mobile-nav
              height: auto
              min-height: auto
              position: relative
              +span-columns(12)
              .site-title
                margin-bottom: 20px
          nav
            display: none
    .content-section
      display: block
      p
        width: 100%
        margin-bottom: 40px
    .footer
      .footer-section
            +span-columns(6)
            +omega(2n)

  // Responsive - Medium
